<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div id="app">
        <!-- <form v-on:submit.prevent="alterarNome('Andrade')">
        <input type="text" v-model="textPar" />   
        <button type="submit"> Add </button> --> 
        <input type="text" v-model="textPar" v-on:keyup.enter = "alterarNome('Andrade')" />

    <ul>
        <li v-for="item in array" style="background: white" @click = "alerta($event)">
            
            {{item}}
        </li>
    </ul>

    red
    <input @click=corP($event.target.value) type = "radio" name = "cor" value="red">
    green
    <input @click=corP($event.target.value) type = "radio" name = "cor" value="green">
    blue
    <input @click=corP($event.target.value)  type = "radio" name = "cor" value="blue">
    yellow
    <input @click=corP($event.target.value)  type = "radio" name = "cor" value="yellow">
      
    <p v-bind:class= "classParagrafo">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est in rem labore repellendus dolore obcaecati, eos accusamus ut commodi tenetur amet fugit architecto. Consequatur dolorem aut numquam consectetur dolorum unde?
    </p>

    </div>

    <style>
    .red{background-color: red}
    .green{background-color: green}   
    .blue{background-color: blue}   
    .yellow{background-color: yellow} 

    </style>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <script>

        new Vue({

            el: '#app',
            data: {     
                classParagrafo: 'red',          
                textPar: "",
                array:  []
            },
            methods: {
               alterarNome(sobrenome){                                
                this.array.push (this.textPar);    
                this.textPar =  "";               
               },
               alerta(event){
                    // alert(event.target.textContent.trim());
                    element = event.target;
                    if(element.style.background == 'white')
                    event.target.style = "background: red";
                    else
                    event.target.style = "background: white";
               },
               corP(cor){
                   this.classParagrafo =cor;
               } 
            },

        })

    </script>

   
</body>

</html>